<%if current_user.is_following?(user)%>
  <div id="user-<%= user.id%>" >
    <%= link_to 'Unfollow', followship_path(user), remote: true, method: :delete, class:"btn btn-link"%>
  </div>
<%else%>
  <div id="user-<%= user.id%>">
    <%= link_to 'Follow',followships_path(following_id: user), remote: true, method: :post, class:"btn btn-default" %>
  </div>

<% end %>
