<%if tweet.is_liked?(current_user)%>
  <div id="tweet-<%= tweet.id%>" class="inline">
    <%= link_to "Like(#{tweet.likes.count})", unlike_tweet_path(tweet), remote: true, method: :post, class:"like-color"%>
  </div>
<%else%>
  <div id="tweet-<%= tweet.id%>" class="inline">
    <%= link_to "Like(#{tweet.likes.count})", like_tweet_path(tweet), remote: true, method: :post%>
  </div>
<%end%>
